@charset "UTF-8";
@import "variables";
/*Global Styles*/
html, body, div, section, aside, header, footer， nav, h1, h2, h3, h4, h5, h6, p, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

html {
  font-family: $html-font;
  font-size: $html-fontSize-big;
  color: $html-text-color;
  height: 100%;
}

::selection {
  background-color: $main-color;
  color: #FFF;
  text-shadow: none;
}

body{
  height: 100%;
}

a{
  text-decoration: none;
}
a:visited, a:link{
  color: $html-text-color;
}

@media screen and (max-width: 850px) {
  html {
    font-size: $html-fontSize-medium;
    }
}

@media screen and (max-width: 500px) {
  html {
    font-size: $html-fontSize-small;
    }
}