$html-font: 'STHeiti', "helvetica", Arial, sans-serif;
$html-fontSize: 14pt;
$html-text-color: #333;
$main-color: #A3BFBF;
$shadow-color: #C3C3C3;
$jobBlock-color: #F8EBE3;
$title-color: #D97059;
$replied-color: #9DBF9F;
$blockText-color: #787E8A;