//font family
$html-font: "helvetica", Arial, sans-serif;
$input-font: 'Helvetica', 'Arial', sans-serif;

//default font size
$html-fontSize-big: 13pt;
$html-fontSize-medium: 11pt;
$html-fontSize-small: 8pt;

//colors
$html-text-color: #333;
$main-color: #A3BFBF;
$shadow-color: #C3C3C3;
$jobBlock-color: #F8EBE3;
$title-color: #D97059;
$replied-color: #9DBF9F;
$blockText-color: #787E8A;
$selected-color: #EDD28C;