@import "default";

.job-board {
  margin: 40px auto;
  display: block;
  overflow: hidden;
}

.job-board {
  h1 {
    font-size: 2em;
  }
  .filter-panel {
    font-size: 2em;
    padding: 20px;
    text-align: center;
    a {
      padding: 20px;
    }
    .alljobs {
      color: $selected-color;
    }
    .replied-filter{
      color: $replied-color;
    }
    .pending-filter{
      color: $main-color;
    }
    .declined-filter{
      color: $title-color;
    }
  }
  .job-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.no-job-msg {
    text-align: center;
    margin-top: 50px;
    color: $main-color;
    font-size: 2em;
}

.loading-list {
  display: block;
  margin: 40px auto;
  text-align: center;
  font-size: 2em;
}